<%- include("../includes/header.ejs", {title: "Update " + wines[0].wines_name}); %>

<h1>Update <%= wines.wines_name%><br /><br />

    <% if(locals.was_successful) { %>
    <div class="col-md-12">
        <div id="message" class="alert alert-success col-md-4">
            <%= wines.wines_name %> was successfully saved. %>
        </div>
    </div>
    <% } %>

</h1>
<form action="/wines/update" method="get">
    <input type="hidden" id="wines_id" name="wines_id" value="<%= wines[0].wines_id %>">
    Wines Name: <input id="wines_name" name="wines_name" type="text" value="<%= wines[0].wines_name%>"/>
    <br />
    <br />
    Wine's Age: <input id="wines_age" name="wines_age" type="text" value="<%=wines[0].wines_age%>"/>
    <br />
    <br />
    Vine Age: <input id="vine_age" name="vine_age" type="text" value="<%=wines[0].vine_age%>"/>
    <br />
    <br />
    Grape Blend: <input id="grape_blend" name="grape_blend" type="text" value="<%=wines[0].grape_blend%>"/>
    <br />
    <br />
    Color of Wine: <input id="color_of_wine" name="color_of_wine" type="text" value="<%=wines[0].color_of_wine%>"/>
    <br />
    <br />
    Amount Made: <input id="amount_made" name="amount_made" type="text" value="<%=wines[0].amount_made%>"/>
    <br />
    <br />
    Amount Sold: <input id="amount_sold" name="amount_sold" type="text" value="<%=wines[0].amount_sold%>" />
    <br />
    <br />
    Wineries:
    <br />
    <select id="wineries_id" name="wineries_id" multiple="multiple">
        <% for(var i=0; wineries.length > i; i++ ) {
            var selected = "";

            if(wineries[i].wines_id != null) {
                selected = "selected";
            }
        %>
        <option value="<%= wineries[i].wineries_id %>" <%= selected %> ><%= wineries[i].name %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#wineries_id').multiselect();
        });
    </script>

    <br />
    <br />

    <input type="submit" />

</form>

<br />
<button type="button"><a href="/wines/all">  <u>Back</u>   </a></button>
<br />
<br />
<br />

<%- include("../includes/footer.ejs"); %>


</html>